{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% endblock %}

{% block body %}
    <div id="user-query">
        <div>What's in the pantry?</div>
        <textarea placeholder="Idea / Ingredients / Cuisine : Let inspiration flow!" autocomplete="on", autocorrect="on"></textarea>
    </div>
    <div id="recipes-wrapper"></div>
    <button id="add-recipe-btn">Add Recipe</button>
    <div id="add-recipe" class="hidden">
        <form id="add-recipe-form" action="/add-recipe" method="post">
            <div class="row">
                <label for="new-title">Title*</label>
                <input type="text" id="new-title" name="title" placeholder="Recipe Title" required>
            </div>

            <div class="row">
                <label for="new-ingredients">Ingredients*</label>
                <textarea rows="5" id="new-ingredients" name="ingredients" placeholder="Recipe Ingredients" required onkeydown="return form_handler(event)"></textarea>
            </div>

            <div class="row">
                <label for="new-instructions">Instructions*</label>
                <textarea rows="5" id="new-instructions" name="instructions" placeholder="Recipe Instructions" required onkeydown="return form_handler(event)"></textarea>
            </div>
            
            <div class="row">
                <div class="col-25">
                    <input type="submit" value="Submit" id="add-recipe-submit">
                </div>
            </div>
        </form>
    </div>

    <script>
        function form_handler(){
            if (event.key === "Enter") {
                event.preventDefault();
                if (event.shiftKey){
                    var text_area = event.target;
                    text_area.value = text_area.value.substring(0, text_area.selectionStart) + "\n" + text_area.value.substring(text_area.selectionEnd);
                    text_area.selectionEnd = text_area.selectionStart;
                } else {
                    var form = document.getElementById("add-recipe-form");
                    if(form.checkValidity()) {
                        form.submit();
                    } else {
                        form.reportValidity();
                    }
                }
            }
        }
    </script>

    <script>
        const add_recipe_form = document.getElementById("add-recipe");
        window.addEventListener("click", () => {
            if (!add_recipe_form.contains(event.target)) {
                if (!event.target.matches('#add-recipe-btn')){
                    add_recipe_form.className = "hidden";
                }
            }
        })
        
        const add_recipe_btn = document.getElementById("add-recipe-btn");
        add_recipe_btn.addEventListener("click", () => {
            const add_recipe_form = document.getElementById("add-recipe");
            if (add_recipe_form.className == "hidden"){
                add_recipe_form.className = "visible";
            } else {
                add_recipe_form.className = "hidden";
            }
        })
    </script>

    <script>
        async function recipes(text){
            let response = await fetch("/fetch-recipes?" + new URLSearchParams({
                                "user_input":text,
                                "limit":10
                            }), {method:"GET"})
            response = await response.json();
            const recipes_wrapper = document.getElementById("recipes-wrapper");
            recipes_wrapper.replaceChildren("");
            for (recipe of response){

                let title = recipe["title"].replaceAll("\n", '<br>');
                let ingredients = recipe["ingredients"].replaceAll("\n", '<br>');
                let instructions = recipe["instructions"].replaceAll("\n", '<br>');

                const recipe_element = document.createElement("div");
                recipe_element.className = "recipe";
                recipe_element.innerHTML = `
                <div class="recipe-title">${title}</div>
                <div class="recipe-closed">
                    <div class="recipe-ingredients">${ingredients}</div>
                    <div class="recipe-instructions">${instructions}</div>
                </div>
                `;

                recipe_element.addEventListener("click", () => {
                    const extended_recipe = recipe_element.children[1];
                    if (extended_recipe.className == "recipe-closed"){
                        const extended_recipes = document.querySelectorAll("#recipes-wrapper .recipe-extended");
                        for (ext_rec of extended_recipes){
                            ext_rec.className = "recipe-closed";
                        }

                        extended_recipe.className = "recipe-extended";
                        extended_recipe.scrollIntoView({ behavior: 'smooth' });
                    } else{
                        extended_recipe.className = "recipe-closed";
                    }
                })

                recipes_wrapper.appendChild(recipe_element);
            }
        }
        const text_area = document.querySelector("#user-query textarea");
        text_area.addEventListener("keypress", () => {
            if (event.key === "Enter") {
                event.preventDefault();
                if (event.shiftKey) {
                    text_area.value = text_area.value.substring(0, text_area.selectionStart) + "\n" + text_area.value.substring(text_area.selectionEnd);
                    text_area.selectionEnd = text_area.selectionStart;
                } else {
                    if (text_area.value.length > 1){
                        recipes(text_area.value);
                    } else {
                        text_area.setCustomValidity('The input is empty. Please enter some text to search the recipes.');
                        text_area.reportValidity();
                    }
                }
            }
        })
    </script>
{% endblock %}